{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Displays the Partners Dashboard -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Partner Home</div>



                <div class="panel-body">
                      <!--  partner id in link -->
                      <a href="{% url 'ManageHotels:showhotel'  %}" class="list-group-item">View Your Hotels</a>
                      <a href="newhotel" class="list-group-item">List a New Hotel</a>
                        <!--  partners Statistics are shown if the partner has atleast one hotel -->
                      {% if NumHotel > 0%}
                        <a href="{% url 'ManageHotels:partnercharts' Partner.id %}" class="list-group-item">View Statistics</a>
                      {% endif%}

                    </div>
                </div>
                <div class="panel-footel text-center">
                    Welcome {{user.username}} You are logged in!  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
