{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Displays the Hotel Management Dashboard-->
<div class="container">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">
                <div class="panel-heading">Hotel Dashboard</div>



                <div class="panel-body">
                    <div class="list-group">
                      <!-- Partners can view reservations or manage an existing hotel-->
                      <a href="{% url 'ManageHotels:hotelreservations' Hotel.id  %}" class="list-group-item">View Your Reservations</a>
                      <a href="{% url 'ManageHotels:managehotel' Hotel.id %}" class="list-group-item">Manage Hotel</a>
                      
                    </div>
                </div>
                <div class="panel-footel text-center"></div>
            </div>
            <a class="btn btn-default pull-right" href="{% url 'ManageHotels:home' %}">Back</a>
        </div>
    </div>
</div>

<!-- else

  <h1> No Way.</h1>-->


{% endblock %}
