{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="panel-body">
<!-- List the actions a Partner can perform on their hotels such as , Edit / Add rooms or delete hotel -->
  <div class="container">
    <div class="row">
      <!-- Partner can Edit a hotel and add images. -->
      <div class="col-xs-6 col-md-4">
          <a href="{% url 'ManageHotels:editHotel' Hotel.id %}" class="thumbnail">
            <img src="{% static "/images/new.png" %}" alt="..." />
          </a>
          <p class="text-center">
          <b>Edit Hotel {{Hotel.id}}</b>
          </p>
      </div>
        <!-- Partners can Add and edit rooms . -->
      <div class="col-xs-6 col-md-4">
        <a href="{% url 'ManageHotels:showRoomsDash' Hotel.id %}" class="thumbnail center-block">
          <img src="{% static "/images/room.png" %}" alt="..." />
        </a>
        <p class="text-center">
        <b>Rooms</b>
        </p>
      </div>

      <!-- Partners can delete Hotels. -->
      <div class="col-xs-6 col-md-4">
        <form action="{% url 'ManageHotels:deleteHotel' Hotel.id %}" method="post">
            {% csrf_token %}
        <button type="submit" class="thumbnail">
          <img src="{% static "/images/delete.png" %}" alt="..." />
        </button>
      </form>
        <p class="text-center">
          <b>Delete Hotel</b>
        </p>
      </div>
  </div>
  
    </div>

      <hr>
      <a class="btn btn-default pull-right" href="{% url 'ManageHotels:home' %}">Back</a>
  </div>

{% endblock %}
