{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
  <a class="btn btn-default pull-right" href="{% url 'ManageHotels:hoteldash' hotel.id %}">Back</a>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">


        <!-- Displays all the reservations for a selected hotel and all the reservation details.-->
        <h4>Reservations for {{hotel.Name}}: </h4>

        <br />


        {% for reservation in reservations%}

        <a class="btn btn-sm btn-danger pull-right" href="{% url 'ManageHotels:removebooking' reservation.id %}">Cancel</a>
          <h5><u>{{reservation.room.RoomType}}</u></h5>
          <p><mark>Guest Name :</mark>  {{reservation.guestFirstName}} {{reservation.guestLastName}}.  </p>
          <p><mark>Check-in Date :</mark> {{reservation.CheckIn}}.  </p>
          <p><mark>Check-out Date:</mark> {{reservation.CheckOut}}.  </p>
          <p><mark>Total Price :</mark> £{{reservation.totalPrice}}.  </p>

          <hr />
        {% endfor %}

    </div>
</div>
{% endblock %}
