{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}


  <h3>Partner Requests from Users:</h3>
  <ul>


    <table class="table">

      <thead>
        <tr>
        <th>Company Name</th>
        <th>Email</th>
        <th>HQ Address</th>
        <th>Vision</th>
        </tr>
      </thead>
      <tbody>

            <!-- Displays a list of all the partner Proposals sent to Check-In.com and an Accept/Refuse Button -->
          {% for proposal in proposals%}

            <tr>
              <td><a class="" href="#">{{proposal.CompanyName}}</a></td>
              <td>{{proposal.CompanyEmail}}</td>
              <td>{{proposal.HQAddress}}</td>
              <td>{{proposal.Vision}}</td>

                  <td><a class="btn btn-success pull-right" href="{% url 'Authorize:acceptproposal' proposal.id  %}">Accept</a></td>
                  <td><a class="btn btn-danger pull-right" href="{% url 'Authorize:declineproposal' proposal.id  %}">Refuse</a></td>


            </tr>

          {% endfor%}
     </tbody>
 </table>

  <a href="{% url 'Authorize:admindash'  %}" class="btn btn-info">Back to Dashboard.</a>







{% endblock %}
