{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotels</title>
    <!-- Styles -->
    <link href="{% static "css/app.css" %}" rel="stylesheet">
    <link href="{% static "css/form.css" %}" rel="stylesheet">

</head>
  <!-- Template for the forms which is used for all the forms on the website. -->
{% for field in form %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <span class="text-danger small">{{field.errors}}</span>
  </div>
  <label class="control-label col-sm-2">{{ field.label_tag}}</label>
  <div class="col-sm-10"  id="rating">

    {{ field }}
  </div>
</div>

{% endfor %}
